<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

  <cb:define BuildDir="C:\Build" />
  <cb:define GitExe="C:\Build\Config\git.cmd" />
  <cb:define MsBuildExe="C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" />

  <cb:define name="Git">
    <sourcecontrol type="git">
      <!-- HOME must be on local disk for SSH credentials to work. We run GIT using a cmd file. -->
      <executable>$(GitExe)</executable>
      <repository>$(Repository)</repository>
      <branch>master</branch>
      <autoGetSource>true</autoGetSource>
      <fetchSubmodules>true</fetchSubmodules>
      <tagOnSuccess>true</tagOnSuccess>
      <commitBuildModifications>false</commitBuildModifications>
      <commitUntrackedFiles>false</commitUntrackedFiles>
      <tagCommitMessage>CCNet Build {0}</tagCommitMessage>
      <tagNameFormat>CCNet-Build-$(Project)-$(Configuration)-{0}</tagNameFormat>
      <committerName>DRCOGBuilder</committerName>
      <committerEMail>Software_Builder@drcog.org</committerEMail>
      <workingDirectory>$(BuildDir)\Source\$(SourceDir)</workingDirectory>
      <timeout>120000</timeout>
    </sourcecontrol>
  </cb:define>

  <cb:define name="MsBuild">
    <msbuild>
      <executable>$(MsBuildExe)</executable>
      <workingDirectory>$(BuildDir)\Source\$(ProjectDir)</workingDirectory>
      <projectFile>$(ProjectFile)</projectFile>
      <buildArgs>/noconsolelogger /p:Configuration=$(Configuration) /t:Rebuild;Package /p:OutputPath=$(BuildDir)\Work\$(Project)\$(Configuration)</buildArgs>
      <logger>C:\Program Files (x86)\CruiseControl.NET\server\Thoughtworks.CruiseControl.MSBuild.dll</logger>
      <timeout>900</timeout>
    </msbuild>
  </cb:define>

  <!-- build a package in the obj\configuration directory of the project -->
  <cb:define name="MsBuildNoOutput">
    <msbuild>
      <executable>$(MsBuildExe)</executable>
      <workingDirectory>$(BuildDir)\Source\$(ProjectDir)</workingDirectory>
      <projectFile>$(ProjectFile)</projectFile>
      <buildArgs>/noconsolelogger /p:Configuration=$(Configuration) /p:Platform=AnyCPU /t:Rebuild;Package /p:OutputPath=obj\$(Configuration)</buildArgs>
      <logger>C:\Program Files (x86)\CruiseControl.NET\server\Thoughtworks.CruiseControl.MSBuild.dll</logger>
      <timeout>900</timeout>
    </msbuild>
  </cb:define>

  <cb:define name="MsBuildTest">
    <msbuild>
      <executable>$(MsBuildExe)</executable>
      <workingDirectory>$(BuildDir)\Source\$(ProjectDir)</workingDirectory>
      <projectFile>$(ProjectFile)</projectFile>
      <buildArgs>/noconsolelogger /p:Configuration=$(Configuration) /t:Rebuild /p:OutputPath=$(BuildDir)\Work\$(Project)\$(Configuration)</buildArgs>
      <logger>C:\Program Files (x86)\CruiseControl.NET\server\Thoughtworks.CruiseControl.MSBuild.dll</logger>
      <timeout>900</timeout>
    </msbuild>
  </cb:define>

  <cb:define name="MsTest">
    <exec>
      <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\MSTest.exe</executable>
      <baseDirectory>$(BuildDir)\Work\$(Project)\$(Configuration)</baseDirectory>
      <buildArgs> /testcontainer:$(TestAssembly) /resultsfile:$(TestResultsFile)</buildArgs>
    </exec>
  </cb:define>

  <cb:define name="RemoveFiles">
    <powershell>
      <script>RemoveItem.ps1</script>
      <scriptsDirectory>$(BuildDir)\Config\PowerShell\Scripts\</scriptsDirectory>
      <buildArgs>-files $(Files)</buildArgs>
    </powershell>
  </cb:define>

  <!-- Template for a Web Site. -->
  <!-- ProjectDir and SourceDir are relative to $(BuildDir)\Source to keep the source contained. -->
  <!-- using OutputDirectory randomly misses bin directory in ContactManagement. -->
  <cb:define name="WebSiteProject">
    <project name="$(Name)">
      <artifactDirectory>$(BuildDir)\Artifacts\$(Project)\$(Configuration)</artifactDirectory>

      <cb:Git Repository="$(Repository)" SourceDir="$(SourceDir)"/>

      <tasks>
        <!-- prepare for any number of MsTest tasks, executing in Work-->
        <cb:RemoveFiles Files="$(BuildDir)\Work\$(Project)\$(Configuration)\*.trx" />
        <cb:MsTestTasks />
        <cb:MsBuildNoOutput ProjectDir="$(ProjectDir)" ProjectFile="$(ProjectFile)"/>
      </tasks>

      <publishers>
        <buildpublisher>
          <sourceDir>$(BuildDir)\Source\$(ProjectDir)\obj\$(Configuration)\Package</sourceDir>
          <publishDir>$(BuildDir)\Products\$(Project)\$(Configuration)</publishDir>
        </buildpublisher>
        <merge>
          <files>
            <!-- merge all tests -->
            <file>$(BuildDir)\Work\$(Project)\$(Configuration)\*.trx</file>
          </files>
        </merge>
        <xmllogger />
      </publishers>

      <modificationDelaySeconds>10</modificationDelaySeconds>
    </project>
  </cb:define>

  <cb:define name="PublishPackage">
    <buildpublisher>
      <sourceDir>$(BuildDir)\Source\$(ProjectDir)\obj\$(Configuration)\_PublishedWebsites\$(PackageDir)</sourceDir>
      <publishDir>$(BuildDir)\Products\$(Project)\$(Configuration)</publishDir>
    </buildpublisher>
  </cb:define>

  <!-- Template for building a Web Site with all configurations, and a test project. -->
  <!-- Tests are built and run in Debug configuration. -->
  <!-- ProjectDir and SourceDir are relative to $(BuildDir)\Source to keep the source contained. -->
  <cb:define name="WebSiteProjectAll">
    <project name="$(Name)">
      <artifactDirectory>$(BuildDir)\Artifacts\$(Project)\All</artifactDirectory>

      <cb:Git Repository="$(Repository)" SourceDir="$(SourceDir)" Configuration="All"/>

      <tasks>
        <!-- prepare for any number of MsTest tasks, executing in Work-->
        <cb:RemoveFiles Files="$(BuildDir)\Work\$(Project)\Debug\*.trx" />
        <cb:MsTestTasks Configuration="Debug" />
        <cb:MsBuildNoOutput ProjectDir="$(ProjectDir)" ProjectFile="$(ProjectFile)" Configuration="Debug"/>
        <cb:MsBuildNoOutput ProjectDir="$(ProjectDir)" ProjectFile="$(ProjectFile)" Configuration="QA"/>
        <cb:MsBuildNoOutput ProjectDir="$(ProjectDir)" ProjectFile="$(ProjectFile)" Configuration="Release"/>
      </tasks>

      <publishers>
        <cb:PublishPackage Configuration="Debug" />
        <cb:PublishPackage Configuration="QA" />
        <cb:PublishPackage Configuration="Release" />
        <merge>
          <files>
            <!-- merge all tests -->
            <file>$(BuildDir)\Work\$(Project)\Debug\*.trx</file>
          </files>
        </merge>
        <xmllogger />
      </publishers>

      <modificationDelaySeconds>10</modificationDelaySeconds>
    </project>
  </cb:define>

  <cb:define name="NoOutWebSiteProject">
    <project name="$(Name)">
      <artifactDirectory>$(BuildDir)\Artifacts\$(Project)\$(Configuration)</artifactDirectory>

      <cb:Git Repository="$(Repository)" SourceDir="$(SourceDir)"/>

      <tasks>
        <cb:MsBuildNoOutput ProjectDir="$(ProjectDir)" ProjectFile="$(ProjectFile)"/>
      </tasks>

      <publishers>
        <buildpublisher>
          <sourceDir>$(BuildDir)\Source\$(ProjectDir)\obj\$(Configuration)\Package</sourceDir>
          <publishDir>$(BuildDir)\Products\$(Project)\$(Configuration)</publishDir>
        </buildpublisher>
        <xmllogger />
      </publishers>

      <modificationDelaySeconds>10</modificationDelaySeconds>
    </project>
  </cb:define>

  <!-- Library project. Product assemblies are published to $(BuildDir)\Products -->
  <project name="DRCOG.Common_Debug">
    <artifactDirectory>$(BuildDir)\Artifacts\DRCOG.Common</artifactDirectory>

    <tasks>
      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>$(BuildDir)\Source\DRCOG.Common\</workingDirectory>
        <projectFile>DRCOG.Common.sln</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Debug /p:OutputPath=c:\Build\Work\DRCOG.Common\Debug /t:Rebuild</buildArgs>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\Thoughtworks.CruiseControl.MSBuild.dll</logger>
        <timeout>900</timeout>
      </msbuild>
    </tasks>

    <publishers>
      <buildpublisher>
        <sourceDir>c:\Build\Work\DRCOG.Common\Debug</sourceDir>
        <publishDir>c:\Build\Products\DRCOG.Common\Debug</publishDir>
      </buildpublisher>
      <xmllogger/>
    </publishers>

    <modificationDelaySeconds>10</modificationDelaySeconds>
  </project>

  <!-- Web Sites -->
  <!--
  <cb:NoOutWebSiteProject
    Name="ContactManagement_Debug"
    Project="ContactManagement"
    Configuration="Debug"
    Repository="git@github.com:DRCOG/ContactManagement.git"
    SourceDir="ContactManagement"
    ProjectDir="ContactManagement\MefMvcApplication.Razor"
    ProjectFile="MefMvcApplication.Razor.csproj">
  </cb:NoOutWebSiteProject>

  <cb:NoOutWebSiteProject
    Name="ContactManagement_QA"
    Project="ContactManagement"
    Configuration="QA"
    Repository="git@github.com:DRCOG/ContactManagement.git"
    SourceDir="ContactManagement"
    ProjectDir="ContactManagement\MefMvcApplication.Razor"
    ProjectFile="MefMvcApplication.Razor.csproj">
  </cb:NoOutWebSiteProject>

  <cb:NoOutWebSiteProject
    Name="ContactManagement_Prod"
    Project="ContactManagement"
    Configuration="Release"
    Repository="git@github.com:DRCOG/ContactManagement.git"
    SourceDir="ContactManagement"
    ProjectDir="ContactManagement\MefMvcApplication.Razor"
    ProjectFile="MefMvcApplication.Razor.csproj">
  </cb:NoOutWebSiteProject>
-->
  <cb:WebSiteProjectAll
    Name="ContactManagement"
    Project="ContactManagement"
    Repository="git@github.com:DRCOG/ContactManagement.git"
    SourceDir="ContactManagement"
    ProjectDir="ContactManagement\MefMvcApplication.Razor"
    PackageDir="ContactManagement\MefMvcFramework.Razor_Package"
    ProjectFile="MefMvcApplication.Razor.csproj">
    <cb:define name="MsTestTasks"/>
  </cb:WebSiteProjectAll>
  
  <cb:NoOutWebSiteProject
    Name="RideArrangers_Debug"
    Project="RideArrangers"
    Configuration="Debug"
    Repository="git@github.com:DRCOG/RideArrangers.git"
    SourceDir="RideArrangers"
    ProjectDir="RideArrangers\DRCOG.RideArrangers.Web"
    ProjectFile="DRCOG.RideArrangers.Web.csproj">
  </cb:NoOutWebSiteProject>

  <cb:NoOutWebSiteProject
    Name="RideArrangers_QA"
    Project="RideArrangers"
    Configuration="QA"
    Repository="git@github.com:DRCOG/RideArrangers.git"
    SourceDir="RideArrangers"
    ProjectDir="RideArrangers\DRCOG.RideArrangers.Web"
    ProjectFile="DRCOG.RideArrangers.Web.csproj">
  </cb:NoOutWebSiteProject>

  <cb:NoOutWebSiteProject
    Name="RideArrangers_Prod"
    Project="RideArrangers"
    Configuration="Release"
    Repository="git@github.com:DRCOG/RideArrangers.git"
    SourceDir="RideArrangers"
    ProjectDir="RideArrangers\DRCOG.RideArrangers.Web"
    ProjectFile="DRCOG.RideArrangers.Web.csproj">
  </cb:NoOutWebSiteProject>

  <cb:WebSiteProjectAll
    Name="Ombudsman"
    Project="Ombudsman"
    Repository="git@github.com:DRCOG/Ombudsman.git"
    SourceDir="Ombudsman"
    PackageDir="Ombudsman.Site_Package"
    ProjectDir="Ombudsman\Ombudsman\Ombudsman.Site"
    ProjectFile="Ombudsman.Site.csproj">
    <!-- MsTest tasks for this web site are in test project. -->
    <cb:define name="MsTestTasks">
      <cb:MsBuildTest ProjectDir="Ombudsman\Ombudsman\Ombudsman.Site.Tests" ProjectFile="Ombudsman.Site.Tests.csproj"/>
      <cb:MsTest TestAssembly="Ombudsman.Site.Tests.dll" TestResultsFile="results1.trx" />
    </cb:define>
  </cb:WebSiteProjectAll>

  <cb:WebSiteProjectAll
    Name="Trips4"
    Project="Trips4"
    Repository="git@github.com:ccpowell/mvc4-examples.git"
    SourceDir="Trips4"
    PackageDir="Trips4_Package"
    ProjectDir="Trips4\Trips4\Trips4"
    ProjectFile="Trips4.csproj">
    <!-- MsTest tasks for this web site are in test project. -->
    <cb:define name="MsTestTasks">
      <cb:MsBuildTest ProjectDir="Trips4\Trips4\Trips4.Tests" ProjectFile="Trips4.Tests.csproj"/>
      <cb:MsTest TestAssembly="Trips4.Tests.dll" TestResultsFile="results1.trx" />
    </cb:define>
  </cb:WebSiteProjectAll>

  <!-- obsolete
  <cb:WebSiteProjectAll
    Name="TRIPS"
    Project="TRIPS"
    Repository="git@github.com:DRCOG/TRIPS.git"
    SourceDir="TRIPS"
    PackageDir="DRCOG.Web_Package"
    ProjectDir="TRIPS\DRCOG\DRCOG.Web"
    ProjectFile="DRCOG.Web.csproj">
    <cb:define name="MsTestTasks"/>
  </cb:WebSiteProjectAll>
-->
  
  <!-- experimental powershell project 
  <project name="TestX">
    <artifactDirectory>$(BuildDir)\Artifacts\TestX</artifactDirectory>
    <workingDirectory>$(BuildDir)\Work\TestX\</workingDirectory>
    <tasks>
      <powershell>
        <script>GetChildItem.ps1</script>
        <scriptsDirectory>$(BuildDir)\Config\PowerShell\Scripts\</scriptsDirectory>
        <buildArgs>-files *.trx</buildArgs>
      </powershell>
    </tasks>
  </project>
  -->
</cruisecontrol>