<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <farmPlugins>
      <farmReportFarmPlugin categories="false" />
      <cctrayDownloadPlugin />
      <administrationPlugin password="ccnet" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
      <serverLogServerPlugin></serverLogServerPlugin>
      <serverInformationServerPlugin></serverInformationServerPlugin>
      <projectConfigurationServerPlugin></projectConfigurationServerPlugin>
      <serverSecurityConfigurationServerPlugin></serverSecurityConfigurationServerPlugin>
    </serverPlugins>
    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <serverLogProjectPlugin></serverLogProjectPlugin>
      <serverSecurityConfigurationProjectPlugin></serverSecurityConfigurationProjectPlugin>
    </projectPlugins>
    <buildPlugins>
      <buildReportBuildPlugin>
        <!-- standard MSBUILD -->
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
          <xslFile>xsl\compile-msbuild.xsl</xslFile>
          <xslFile>xsl\MsTestSummary2008.xsl</xslFile>
        </xslFileNames>


        <!-- improved Rodemeyer MSBUILD 
        <xslFileNames>
          <xslFile>xsl\header.xsl</xslFile>
          <xslFile>xsl\msbuild2ccnet.xsl</xslFile>
          <xslFile>xsl\modifications.xsl</xslFile>
        </xslFileNames>
-->
      </buildReportBuildPlugin>
      <buildLogBuildPlugin />
      <xslReportBuildPlugin description="MSBuild Report" actionName="MSBuildBuildReport" xslFileName="xsl\msbuild.xsl"></xslReportBuildPlugin>
      <xslReportBuildPlugin description="MSTest Report" actionName="MSTestBuildReport" xslFileName="xsl\MsTestReport2008.xsl"></xslReportBuildPlugin>
    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>